@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Raleway:wght@100;400;700&display=swap");

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  background-color: #bdc3c7;
}

html {
  //font-family: 'Lobster Two', cursive; 400
  //font-family: 'Raleway', sans-serif; 100, 400, 700
  font-family: "Raleway", sans-serif;

  font-weight: 400;
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  text-align: center;
  padding: 1.5rem;

  &__title {
    font-family: "Lobster Two", cursive;
    font-size: 4rem;
  }
  &__info {
    margin-top: 1rem;
    font-size: 1.6rem;
    display: inline-block;
    text-align: start;
    &--name {
      font-weight: 700;
    }
    &--text {
      &:not(:last-of-type) {
        margin-bottom: 0.3rem;
      }
    }
    &--red,
    &--green,
    &--darkYellow {
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: 1px 1px 2px #000000;
      letter-spacing: 2px;
    }
    &--red {
      color: rgba(231, 76, 60, 1);
    }
    &--green {
      color: rgb(46, 204, 113);
    }
    &--darkYellow {
      color: #f1c40f;
    }
  }
}

.container {
  max-width: 76rem;
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  height: 12rem;
  width: 12rem;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #3498db;

  margin: 0.3rem;
  font-weight: 700;
  font-size: 2.7rem;

  @include respond(phone) {
    font-size: 2;
    height: 10rem;
    width: 10rem;
  }

  &--zero {
    background: #34495e;
  }
  &--odd {
    background: rgba(241, 196, 15, 1);
  }
  &--even {
    background: rgb(46, 204, 113);
  }
  &--evenOdd {
    background: linear-gradient(
      225deg,
      rgba(46, 204, 113, 1) 50%,
      rgba(231, 76, 60, 1) 50%
    );
  }
  &--prime {
    background: linear-gradient(
      225deg,
      rgba(241, 196, 15, 1) 50%,
      rgba(231, 76, 60, 1) 50%
    );
  }
}
